%h1 Listing orders

%table
  %thead
    %tr
      %th{width: 150} User
      %th{width: 150} Product
      %th{width: 150} Product Amount
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td{width: 150}= order.user.name
        %td{width: 150}= order.product.try(:name) || "Not found"
        %td{width: 150}= order.product.try(:amount) || "Not found"
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path

%hr
%h2 Product List with caching

%table
  %thead
    %tr
      %th{width: 150} Product Name
      %th{width: 150} Product Amount
      %th
      %th

  %tbody
    - cache({action: 'index', action_suffix: 'all_products'}, skip_digest: true) do
      - @products.each do |product|
        %tr
          %td{width: 150}= product.name
          %td{width: 150}= product.name
          %td= link_to 'Show', product
          %td= link_to 'Edit', edit_product_path(product)
          %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

%hr
%h2 Product List

%table
  %thead
    %tr
      %th{width: 150} Product Name
      %th{width: 150} Product Amount
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td{width: 150}= product.name
        %td{width: 150}= product.name
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
%hr

%h2 User List with caching

%table
  %thead
    %tr
      %th{width: 150} User's name
      %th{width: 150} User's email
      %th
      %th

  %tbody
    - cache({action: 'index', action_suffix: 'all_users'}, skip_digest: true) do
      - @users.each do |user|
        %tr
          %td{width: 150}= user.name
          %td{width: 150}= user.email
%br
%hr
